node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.git
.gitignore
.env.*
*.log
.vscode
.idea
coverage
.DS_Store
dist
build
README.md
*.md
.github
.eslintrc.*
.prettierrc
.prettierignore
backup
*.rar
*.zip
*.tar.gz
src/**/*.test.*
src/**/*.spec.*
public/vite.svg